<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
        在mybatis中，映射文件中的namespace是用于绑定Dao接口的，即面向接口编程。
        （我的理解是mapper.xml对应的mapperInterface接口（这个类在spring中得到体现）绑定dao接口）
        当你的namespace绑定接口后，你可以不用写接口实现类，mybatis会通过该绑定自动
        帮你找到对应要执行的SQL语句-->
<mapper namespace="com.wlj.dao.TaskDao">


    <!--查询所有学生记录-->
    <select id="getAll" resultType="Student">
        select * from student
    </select>
    <!--为什么condition不行-->
    <select id="getLearning" resultType="int">
        select count(*) from student WHERE status = 0
    </select>

    <select id="getWorking" resultType="int">
        SELECT count(*) FROM student WHERE status =1
    </select>

    <select id="getJava" resultType="int">
        SELECT count(*) FROM student WHERE major =1 AND status=0
    </select>

    <select id="getWeb" resultType="int">
        SELECT count(*) FROM student WHERE major =2 AND status=0
    </select>

    <select id="getMobile" resultType="int">
        SELECT count(*) FROM student WHERE major =3 AND status=0
    </select>

    <!--task5-->
    <select id="insert" parameterType="User">
        INSERT into user(name,password,salt) VALUES(#{name},#{password},#{salt})
    </select>

    <select id="selectUserByName" parameterType="java.lang.String" resultType="User" >
        SELECT * FROM user WHERE name=#{name}
    </select>
    <select id="updateTime" >
        UPDATE user SET time=#{time,jdbcType=BIGINT} WHERE name=#{name}
    </select>
</mapper>
